<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.amazon.testlayer.AddToCartFunctionality"/>
      <class name="com.amazon.testlayer.DeleteProductFunctionality"/>
      <class name="com.amazon.testlayer.LogOutAmazonAccount"/>
      <class name="com.amazon.testlayer.SignInFunctionality"/>
      <class name="com.amazon.testlayer.PrintAllProduct"/>
      <class name="com.amazon.testlayer.UpdateProduct"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
